body{
    background-color: hsl(60, 9%, 85%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana,sans-serif,Arial;
}

.weatherForm{
    margin: 10px 10px;
}

.cityInput{
    font-size: 1.5em;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 3%, 0.572);
    border-radius: 10px;
    width: 250px;
    margin: 10px;
}

button[type="submit"]{
    height: 50px;
    width: 50px;
    margin-top: 30px;
    padding: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsl(0, 0%, 0%);
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    background-image: url(search-2911.png);
}

button[type="submit"]:hover{
    background-color: hsl(270, 2%, 23%);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgb(247, 178, 48),  rgb(235, 44, 44));
    padding: 20px;
    min-width: 350px;
    box-shadow: 3px 3px 5px hsla(0, 2%, 32%, 0.442);
    border-radius: 15px;
    margin-top: 25px;
}

h1{
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 10px;
}
p{
    font-size: 1.5em;
    margin: 5px 0;
}

.cityDisplay{
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: hsla(0, 0%, 0%, 0.842);
}

.tempDisplay{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    color: hsla(0, 0%, 0%, 0.842);
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 10px;
}

.descDisplay{
    font-style: italic;
    font-size: 2em;
}

.weatherEmoji{
    font-size: 6.5em;
    margin: 0;
}

.errorDisplay{
    font-size: 1.75em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
